<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
</style>

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://github.com/leovargasdev/br-challenges-blizzard/blob/master/assets/banner-hero/games/diablo-bg.png?raw=true);
}

:root{
    --colorh1: #ffffff;
    --font-principal: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white 1px;
}

section{
    margin-left: 1.375rem;
}

    header img{
        margin: 1.469rem;
        height: 2rem;
        width: 4rem;
    }

#principal h1{
    height: 11rem;
    width: 17.6875rem;
    font-size: 2.5rem;
    font-weight: 700px;
    line-height: 110.2%;
    letter-spacing: -0.5%;
    font-family: var(--font-principal);
    color: var(--colorh1);
    margin-bottom: 1rem;
    margin-top: 3.1875rem;
}

#principal h3{
    font-family: var(--font-principal);
    color: var(--colorh1);
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.687rem;
    letter-spacing: -.005rem;
}